asgiref==3.5.2
Babel==2.12.1
backports.zoneinfo==0.2.1
black==23.7.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cryptography==40.0.1
Django==4.1
django-cors-headers==3.14.0
django-debug-toolbar==4.1.0
django-phonenumber-field==7.0.2
django-rest-knox==4.2.0
djangorestframework==3.13.1
gunicorn==21.2.0
idna==3.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
phonenumbers==8.13.7
platformdirs==3.10.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
pycparser==2.21
python-decouple==3.8
pytz==2022.1
requests==2.31.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
whitenoise==6.5.0
